<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 card shadow p-4">
            <h3 class="text-center">Forgot Password</h3>
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label class="form-label">Enter Registered Email</label>
                    <input type="email" name="email" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-dark w-100">Send Reset Code</button>
            </form>
            @if (ViewBag.Error != null)
            {
                <p class="text-danger mt-2">@ViewBag.Error</p>
            }
        </div>
    </div>
</div>