<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 card shadow p-4">
            <h3 class="text-center">Reset Password</h3>
            <p class="text-warning small">Your Reset Code is: @TempData["ResetCode"]</p>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" name="email" value="@ViewBag.Email" />
                <div class="mb-3">
                    <label class="form-label">Verification Code</label>
                    <input type="text" name="code" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="form-label small fw-bold">New Password</label>
                    <div class="input-group">
                        <input name="newPassword" id="newPass" type="password" class="form-control" required />
                        <span class="input-group-text" onclick="togglePass('newPass', this)" style="cursor: pointer;">
                            <i class="bi bi-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning w-100">Update Password</button>
            </form>
        </div>
    </div>
</div>